@charset "utf-8";
/* CSS Document */

body { background-color: #000;}
	
hr { border-style: none;
		 border-top-style: dotted;
		 border-color:#0F0;
		 background-color:#000;
		 border-width:5px;
		 width:5%;
		 
	}
	
h1, h2, h3, p, ul, li, td, tr { color:#FFF;}
	
a { color:#0F0;}